[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	subdir = r
[submodule "nanoarrow"]
	path = nanoarrow
	url = https://github.com/apache/arrow-nanoarrow
	subdir = r
